.containerInicio div {
    width: 40%;
}

.containerInicio div p {
    margin-top: 2rem;
}


@media screen and (max-width: 800px) {
    .containerInicio div {
        width: 60%;
    }
}

@media screen and (max-width: 400px) {
    .containerInicio div {
        width: 80%;
    }
}