.curriculoContainer {
    flex-direction: column;
    margin: 4rem 0;
}

.tituloPrincipalCurriculo {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--cor-terciaria);
}

.curriculoContainer div {
    width: 50%;
}

.curriculoContainer h3 {
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    font-family: var(--krona);
    margin: 1.5rem 0;
}

.curriculoDownloadContainer {
    margin-top: 1rem;
}

.curriculoDownload {
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 1rem;
}

.curriculoDownload:hover {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .curriculoContainer div {
        width: 70%;
    }

    .curriculoContainer h3 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 400px) {
    .curriculoContainer div {
        width: 80%;
    }

    .curriculoContainer h3 {
        font-size: 1.2rem;
    }
}
